# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# OS artifacts
.DS_Store
Thumbs.db

# Development artifacts
.pdcreator-cache/
*.log
coverage/
components/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace